# TensorFlow

In [1]:
import tensorflow as tf

In [2]:
x_data = [ [1, 2], [2, 3], [3, 1], [4, 3], [5, 3], [6, 2] ]
y_data = [ [0], [0], [0], [1], [1], [1], ]

In [3]:
X = tf.placeholder(tf.float32, shape=[None, 2])
Y = tf.placeholder(tf.float32, shape=[None, 1])
W = tf.Variable(tf.random.normal([2,1]), 'weight')
b = tf.Variable(tf.random.normal([1]), 'bias')

In [7]:
hypo = tf.sigmoid(tf.matmul(X, W) + b)
cost = -tf.reduce_mean(Y * tf.math.log(hypo) + (1-Y) * tf.math.log(1-hypo))
opti = tf.train.GradientDescentOptimizer(learning_rate=0.001)
train = opti.minimize(cost)

In [8]:
pred = tf.cast(hypo > 0.5, dtype=tf.float32)

In [13]:
acc = tf.reduce_mean(tf.cast(tf.equal(pred, Y), dtype=tf.float32))
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for step in range(20001):
        cost_val, train_val = sess.run([cost, train], feed_dict={X: x_data, Y: y_data})
    hypo_val, pred_val, acc_val = sess.run([hypo, pred, acc], feed_dict={X: x_data, Y: y_data})

In [14]:
print("\n가설: \n", hypo_val, "\n예측(Y) : \n", pred_val, "\n정확도 : \n", acc_val)

가설:
 [[0.1958526 ]
 [0.22343215]
 [0.7301991 ]
 [0.6155467 ]
 [0.7906621 ]
 [0.94678545]]
예측(Y) :
 [[0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]]
정확도 :
 0.8333333

## SoftMax

In [34]:
csv = pd.read_csv("/Users/lesson6_mac/AtomData/python/bmi/bmi.csv")

In [35]:
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 3 columns):
height    20000 non-null int64
weight    20000 non-null int64
label     20000 non-null object
dtypes: int64(2), object(1)
memory usage: 468.8+ KB

In [36]:
csv.describe()

             height        weight
count  20000.000000  20000.000000
mean     159.927200     57.535000
std       23.342096     13.285259
min      120.000000     35.000000
25%      140.000000     46.000000
50%      160.000000     58.000000
75%      180.000000     69.000000
max      200.000000     80.000000

In [37]:
csv.head()

   height  weight   label
0     142      62     fat
1     142      73     fat
2     177      61  normal
3     187      48    thin
4     153      60     fat

In [38]:
csv['height'] = csv['height']/200
csv['weight'] = csv['weight']/100

In [39]:
csv.head()

   height  weight   label
0   0.710    0.62     fat
1   0.710    0.73     fat
2   0.885    0.61  normal
3   0.935    0.48    thin
4   0.765    0.60     fat

In [40]:
byclass = {"thin":[1,0,0], "normal":[0,1,0], "fat":[0,0,1]}

In [41]:
csv['label_pat'] = csv['label'].apply(lambda x : np.array(byclass[x]))
print(csv['label_pat'])

0        [0, 0, 1]
1        [0, 0, 1]
2        [0, 1, 0]
3        [1, 0, 0]
4        [0, 0, 1]
5        [1, 0, 0]
6        [0, 1, 0]
7        [1, 0, 0]
8        [1, 0, 0]
9        [1, 0, 0]
10       [0, 0, 1]
11       [0, 0, 1]
12       [0, 1, 0]
13       [1, 0, 0]
14       [0, 0, 1]
15       [1, 0, 0]
16       [0, 0, 1]
17       [0, 0, 1]
18       [1, 0, 0]
19       [0, 0, 1]
20       [0, 0, 1]
21       [0, 1, 0]
22       [0, 1, 0]
23       [1, 0, 0]
24       [0, 1, 0]
25       [0, 0, 1]
26       [1, 0, 0]
27       [0, 0, 1]
28       [0, 0, 1]
29       [1, 0, 0]
           ...
19970    [0, 0, 1]
19971    [1, 0, 0]
19972    [0, 0, 1]
19973    [0, 0, 1]
19974    [0, 0, 1]
19975    [0, 0, 1]
19976    [0, 0, 1]
19977    [0, 0, 1]
19978    [0, 1, 0]
19979    [0, 1, 0]
19980    [1, 0, 0]
19981    [1, 0, 0]
19982    [0, 1, 0]
19983    [1, 0, 0]
19984    [0, 1, 0]
19985    [0, 1, 0]
19986    [0, 0, 1]
19987    [0, 1, 0]
19988    [0, 0, 1]
19989    [0, 0, 1]
19990    [0, 0, 1]
19991    [1, 0, 0]
19992    [0, 0, 1]
19993    [1, 0, 0]
19994    [1, 0, 0]
19995    [0, 0, 1]
19996    [0, 1, 0]
19997    [1, 0, 0]
19998    [1, 0, 0]
19999    [0, 1, 0]
Name: label_pat, Length: 20000, dtype: object

In [42]:
csv.head()

   height  weight   label  label_pat
0   0.710    0.62     fat  [0, 0, 1]
1   0.710    0.73     fat  [0, 0, 1]
2   0.885    0.61  normal  [0, 1, 0]
3   0.935    0.48    thin  [1, 0, 0]
4   0.765    0.60     fat  [0, 0, 1]

In [43]:
test_csv = csv[5000:20000]
test_pat = test_csv[['weight', 'height']]
test_ans = list(test_csv['label_pat'])
X = tf.placeholder(tf.float32, [None, 2])
Y = tf.placeholder(tf.float32, [None, 3])
W = tf.Variable(tf.zeros([2,3]))
b= tf.Variable(tf.zeros([3]))

In [45]:
hypo = tf.nn.softmax(tf.matmul(X, W) + b)

In [63]:
cross_entropy = -tf.reduce_sum(Y * tf.math.log(hypo))
opti = tf.train.GradientDescentOptimizer(learning_rate=0.01)
train = opti.minimize(cross_entropy)
predict = tf.equal(tf.argmax(hypo, 1), tf.argmax(Y,1))
accuracy = tf.reduce_mean(tf.cast(predict, tf.float32))

In [66]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for step in range(1000):
        i = (step * 100) % 14000
        rows = csv[1 + i : 1 + i +100]
        x_pat = rows[["weight", "height"]]
        y_ans = list(rows["label_pat"])
        fd = {X: x_pat, Y: y_ans}
        sess.run(train, feed_dict=fd)
        if step % 500 == 0:
            cre = sess.run(cross_entropy, feed_dict=fd)
            acc = sess.run(accuracy, feed_dict={X: test_pat, Y: test_ans}) 
            print(step, "손실=", cre, "정확도=", acc)
    acc = sess.run(accuracy, feed_dict={X: test_pat, Y: test_ans})
    print('정답율 = : ', acc)

0 손실= 108.66269 정확도= 0.32073334
500 손실= 57.58866 정확도= 0.8888
정답율 = :  0.91833335