# 파이썬 라이브러리

math 모듈

In [3]:
import math

print(round(math.pi,2))

3.14

In [6]:
print(math.log(4))

1.3862943611198906

In [25]:
from random import random, randint, choice, sample
print(randint(1,100))

a = [[1,2,3],'2','다']

print(choice(a))
print()

b = '0123456789'
for i in range(10):
    data = ''.join(sample(b, len(b)))
    print(data)

49
2

3920578164
4179823560
6947210385
7109685243
6309582417
3896054721
9683542017
0754819326
8753091426
2317859604

In [26]:
print(math.sqrt(4))
print(math.sqrt(4**2))

2.0
4.0

In [27]:
print(math.log(4))
print(math.log(81,3))

1.3862943611198906
4.0

In [29]:
print(math.e)

2.718281828459045

In [30]:
print(math.sin(4))
print(math.cos(4))
print(math.tan(4))

-0.7568024953079282
-0.6536436208636119
1.1578212823495775

random 모듈

In [33]:
from random import random
print(random()*10)

5.280165690089767

In [34]:
from random import randint
print(randint(1,10))

8

In [40]:
from random import choice, shuffle
a = [1,2,3,4,5]
print('리스트 난수값:', choice(a))
shuffle(a)
print(a)

리스트 난수값: 1
[3, 4, 1, 2, 5]

In [47]:
from random import sample
a = '0123456789'
for i in range(10):
    d = ''.join(sample(d,6))
    print(d)
sample(a,6)

509482
594082
805429
804529
485902
928045
905824
285940
840295
509842

['7', '9', '6', '8', '1', '3']

In [49]:
from random import seed
print(seed())

None

In [64]:
from random import seed

# seed 메소드의 같은 파라미터 값이 설정되면 난수를 돌릴때 같은값이 나옴 

print("시드값을 30으로 설정")
seed(30) #1차 시드값 30 시도
print("first :", randint(25,50))

#시드값 설정 없이 randint 시도하면 1차 시도때와 다른값이 나옴
print("Second :", randint(25,50))

seed(30) #2차 시드값 30 시도
print ("Third :", randint(25,50))

시드값을 30으로 설정
first : 42
Second : 50
Third : 42

In [69]:
from time import asctime, localtime, time
print('time: ',time(),'\n')
print('localtime: ',localtime(time()),'\n')
print('asctime: ',asctime(localtime(time())))

time:  1558416608.894804

localtime:  time.struct_time(tm_year=2019, tm_mon=5, tm_mday=21, tm_hour=14, tm_min=30, tm_sec=8, tm_wday=1, tm_yday=141, tm_isdst=0)

asctime:  Tue May 21 14:30:08 2019

In [70]:
from time import ctime
print(ctime())

Tue May 21 14:30:49 2019

In [71]:
from time import strftime, localtime, time
print(strftime('%x', localtime(time())))

05/21/19

In [73]:
from time import sleep
for i in range(5):
    print(i)
    sleep(1)

0
1
2
3
4

In [25]:
import time
time.strptime("30 Nov 00", "%d %b %y")   # doctest: +NORMALIZE_WHITESPACE

time.struct_time(tm_year=2000, tm_mon=11, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=335, tm_isdst=-1)

In [21]:
from time import clock
clock()

2.187167

In [74]:
from calendar import calendar
print(calendar(2019))

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [75]:
from calendar import prcal
prcal(2019)

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [76]:
from calendar import prmonth
prmonth(2019,12)

   December 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [11]:
import calendar

#set firstweekday=2
cal= calendar.Calendar(firstweekday=2)
for x in cal.iterweekdays():
    print(x)

2
3
4
5
6
0
1

In [18]:
print(repr(calendar.Calendar.firstweekday))

<property object at 0x10769ea48>

In [77]:
from calendar import weekday
print(weekday(2019,12,31))

1

system

In [2]:
import sys
print(sys.version)

3.5.5 |Anaconda, Inc.| (default, Apr 26 2018, 08:11:22)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

In [79]:
print(sys.path)

['', '/anaconda3/lib/python35.zip', '/anaconda3/lib/python3.5', '/anaconda3/lib/python3.5/plat-darwin', '/anaconda3/lib/python3.5/lib-dynload', '/Users/lesson6_mac/.local/lib/python3.5/site-packages', '/anaconda3/lib/python3.5/site-packages', '/anaconda3/lib/python3.5/site-packages/aeosa', '/anaconda3/lib/python3.5/site-packages/IPython/extensions', '/Users/lesson6_mac/.ipython']

In [ ]:
with open('pythontest.txt', 'w', encoding='utf-8') as f:
#     sys.stdin = f # 텍스트 파일 내용 사라짐
    
    sys.stdout = f # 텍스트 파일에 프린트 내용이 들어감
    print('stdout')
    
#     sys.stderr = f # 텍스트 파일에 내용 사라지고 불완전 종료됨
#     print('error')

error