In [10]:
a = '나는 나는 모두 이상한 나라 사람들 나는.'
print(len(a))
print(a.find('나는',5))
a[20]

23
20

'나'

# 문자열 자료형의 메소드

In [13]:
s = 'i LIKE python'

#upper
print(s.upper())

#lower
print(s.lower())

#swapcase
print(s.swapcase())

#capitalize
print(s.capitalize())

#title
print(s.title())

I LIKE PYTHON
i like python
I like PYTHON
I like python
I Like Python

# 문자열 판단

In [16]:
s = 'i like python'
print(s.startswith('i'))
print(s.startswith('l',2))

True
True

# 리스트 자료형

In [17]:
a = [{1:2}, {1,2,3}, (1,2,3), 1, '1', [1,2]]
print(a)

[{1: 2}, {1, 2, 3}, (1, 2, 3), 1, '1', [1, 2]]

In [19]:
# 타입의 변화
a = [(1,2,3)]
print(type(a))
print(type(a[0]))

<class 'list'>
<class 'tuple'>

In [21]:
a = ["파이썬", " ", "자바"]
print(type(a))
print(len(a))
print(a)
b = [1,3,4]
print(type(b))
print(len(b))
print(b)

<class 'list'>
3
['파이썬', ' ', '자바']
<class 'list'>
3
[1, 3, 4]

In [23]:
print(list("python"))
print(list([1,2,3]))
print(list((1,2,3)))

['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3]
[1, 2, 3]

In [24]:
#중첩 리스트 형식
a = [1,2,3]
b = [4,a,6]
c = [8,b,9]
print(b)
print(c)

[4, [1, 2, 3], 6]
[8, [4, [1, 2, 3], 6], 9]

In [26]:
#리스트 자료연산
a = ['가','나','다']
b = [1,2,3]
print(a+b)
print(b + b)

print(b*3)

['가', '나', '다', 1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [31]:
a = list(range(50))
print(list(map(lambda x: x*3, a)))
print(list(map(lambda y: y*5, a)))
print(list(map(lambda z: z*15, a)))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245]
[0, 15, 30, 45, 60, 75, 90, 105, 120, 135, 150, 165, 180, 195, 210, 225, 240, 255, 270, 285, 300, 315, 330, 345, 360, 375, 390, 405, 420, 435, 450, 465, 480, 495, 510, 525, 540, 555, 570, 585, 600, 615, 630, 645, 660, 675, 690, 705, 720, 735]

In [33]:
#인덱싱
a = ['안','녕']
print(a[0])
b = ['python','java']
print(b[0]+a[1])

안
python녕

In [34]:
#리스트 삭제
a = [1, 2, 3, 4]
del a[0]
print(a)

[2, 3, 4]

In [40]:
#리스트 값 변경
a = ['1','2','3']
a[0] = '7'
print(a)
a[0] = 10
print(a)
a[1:2] = [ 'a','b','c']
print(a)
a[1] = [ 'a','b','c']
print(a)

['7', '2', '3']
[10, '2', '3']
[10, 'a', 'b', 'c', '3']
[10, ['a', 'b', 'c'], 'b', 'c', '3']

In [41]:
#3차원 리스트의 호출
a = [1,['a',['x','y'],b],2]
print(a[1])
print(a[1][1])
print(a[1][1][1])

['a', ['x', 'y'], ['python', 'java']]
['x', 'y']
y