# 슬라이싱

In [1]:
# 슬라이싱 :0 일경우 빈 리스트 출력
a = [1, 2, 3, 4, 5]
print(a[:0])

[]

리스트 -> 분석의 토대 (배열이라고 해도 무방) <br>
튜플 -> 저장의 토대 <br>
딕셔너리 -> 외부 저장의 토대 <br>

In [3]:
# 슬라이싱한 자리에 데이터 넣기
a = [1, 2, 3, 4]
a[:2] = [100, 200]
print(a)

[100, 200, 3, 4]

In [4]:
b = [1, 2, 3, 4]
b[:2] = []
print(b)

[3, 4]

In [9]:
col = ['번호', '이름', '주소']
col[3:4] = ['total','dash']
print(col)

['번호', '이름', '주소', 'total', 'dash']

In [11]:
a = ['a', 'b', 'c', ' ', 'd', 'e']
print(a[1:3])
print(a[1:4])
print(a[0:7]) # 이 경우 인덱스 7이 없지만 있는것 처럼 출력

['b', 'c']
['b', 'c', ' ']
['a', 'b', 'c', ' ', 'd', 'e']

In [15]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(a[1:])
print(a[:3])
print(a[:])

['b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'c']
['a', 'b', 'c', 'd', 'e', 'f', 'g']

리스트 요소의 슬라이싱

In [17]:
a = ['파이선', '자바', 222, 3334, 555]
a[0:2] = [100,200]
print(a)
a[0:1] = [1, 2, 3]
print(a)

[100, 200, 222, 3334, 555]
[1, 2, 3, 200, 222, 3334, 555]

슬라이싱을 이용한 데이터 삭제

In [18]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
a[0:2] = []
print(a)

['c', 'd', 'e', 'f', 'g']

슬라이싱을 이용한 데이터 삽입

In [19]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
a[1:1] = [1, 2]
print(a)
a[:0] = ['start']
print(a)

['a', 1, 2, 'b', 'c', 'd', 'e', 'f', 'g']
['start', 'a', 1, 2, 'b', 'c', 'd', 'e', 'f', 'g']

슬라이싱을 이용한 데이터 치환

In [20]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
a[1:5] = [2]
print(a)
b = [10, 20, 30, 40]
b[1:2] = a
print(b)

['a', 2, 'f', 'g']
[10, 'a', 2, 'f', 'g', 30, 40]

(과제) '???' 슬라이싱으로 지우기

In [21]:
a = ['번호', '이름', '주소', '???', '합계']
a[3:4] = []
print(a)

['번호', '이름', '주소', '합계']

In [22]:
a = ['번호', '이름', '주소', '???', '합계']
a = a[:3] + a[4:5]
print(a)

['번호', '이름', '주소', '합계']

## 리스트 자료형의 메소드

In [23]:
a = [1, 2, 3]
a.append(4)
a.append([60, 70])
a.append((60, 70))
print(a)

[1, 2, 3, 4, [60, 70], (60, 70)]

In [26]:
a = [1, 2, 3, 3, 3, 4, 5]

# index 메소드 : 처음 나오는 값의 인덱스 값 출력
print(a.index(3))

# count 메소드
print(a.count(3))

2
3

In [28]:
# insert 메소드 (찾는 값, 찾는 값 뒤에 넣을 값)
a = [1, 2, 3, 3, 3, 4, 5]
a.insert(3,'값')
print(a)

[1, 2, 3, '값', 3, 3, 4, 5]

In [29]:
# reverse 메소드
a = [1, 2, 3, 3, 3, 4, 5]
a.reverse()
print(a)

[5, 4, 3, 3, 3, 2, 1]

In [33]:
# sort 메소드 : 같은 타입끼리만 순서가능
a = [1, 2, 3, 9, 8, 4, 5]
a.sort()
print(a)

[1, 2, 3, 4, 5, 8, 9]

In [37]:
# extend 메소드 : 리스트끼리 병합하기, 뒤쪽에 붙임
a = [10, 220, 33, 950, 80, 40, 55]
a.extend([3,2])
print(a)

[10, 220, 33, 950, 80, 40, 55, 3, 2]

In [38]:
# remove 메소드
a = [10, 220, 33, 950, 80, 40, 55]
a.remove(10)
print(a)

[220, 33, 950, 80, 40, 55]

In [43]:
# pop 메소드 : 리스트의 마지막 입력된 값(아니면 파라미터에 넣은 인덱스가 가르키는 값)을 리스트에서 빼고 그 뺀 값을 리턴값으로 반환 한다
a = [10, 220, 33, 950, 80, 40, 55]
a.pop()
print(a)
a.pop()
print(a)
a.pop(1)
print(a)

[10, 220, 33, 950, 80, 40]
[10, 220, 33, 950, 80]
[10, 33, 950, 80]

In [47]:
# sort 메소드
a =[1, 6, 3, 5, 7, 4, 2]
a.sort(reverse=True)
print(a)
b = ['32', '123', '2980', '9']
b.sort(key=int)
print(b)

[7, 6, 5, 4, 3, 2, 1]
['9', '32', '123', '2980']

In [48]:
# sorted 함수
a =[1, 6, 3, 5, 7, 4, 2]
b = sorted(a)
print(b)

[1, 2, 3, 4, 5, 6, 7]

In [49]:
# reverse 메소드
a =[1, 6, 3, 5, 7, 4, 2]
a.reverse()
print(a)

[2, 4, 7, 5, 3, 6, 1]

In [51]:
#revered 함수
a =[1, 6, 3, 5, 7, 4, 2]
b = list(reversed(a))
print(b)

[2, 4, 7, 5, 3, 6, 1]

## 리스트 자료형의 자료구조

스택 구조: 마지막 입력이 먼저 출력 LIFO

In [52]:
s = [10, 20, 30, 40, 50]
s.append(60)
print(s)
print(s.pop())
print(s)

[10, 20, 30, 40, 50, 60]
60
[10, 20, 30, 40, 50]

큐 구조: 처음 입력이 먼저 출력 FIFO

In [54]:
q = [10, 20, 30, 40, 50]
q.append(60)
print(q)
print(q.pop(0))
print(q)

[10, 20, 30, 40, 50, 60]
10
[20, 30, 40, 50, 60]

In [56]:
marks = [90, 25, 67, 45, 80]
number = 0
for i in marks:
    number += 1
    if i > 60:
        print('{}번 학생은 합격입니다.'.format(number))
    else:
        print('{}번 학생은 불합격입니다.'.format(number))

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

## 튜플

In [62]:
# 콤마를 사용하여 표현
a = 1,
print(type(a))
b = 1, 2, 3
print(type(b))
c = (1,)
print(type(c))
d= (1)
print(type(d))
e = ('a','b','c')
print(type(e))
f = (0.1, .2, 3, 3.1)
print(type(f))
print(len(f))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
4

In [72]:
# 튜플 함수
print(tuple('abc'))
print(tuple([1, 2, 3]))
print(tuple((1, 2, 3)))

print(tuple(1))

('a', 'b', 'c')
(1, 2, 3)
(1, 2, 3)

TypeError: 'int' object is not iterable

In [76]:
a = (1, 2, 3)
b = (4, a, 5)
print(b)
c = {'one':1,'two':2}
d =('start',c,'end')
print(d)

(4, (1, 2, 3), 5)
('start', {'one': 1, 'two': 2}, 'end')

튜플 연결

In [77]:
a = (1, 2, 3)
b = (4, 6, 5)
print(b +b)
print(a+b)

(4, 6, 5, 4, 6, 5)
(1, 2, 3, 4, 6, 5)

튜플 반복

In [79]:
a = (1,2,3)
print(a*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

튜플 자료 할당

In [81]:
a = (x, y) = (1, 2)
print(type(a))
print(type(x))
print(type(y))

<class 'tuple'>
<class 'int'>
<class 'int'>

In [82]:
x, y = 1, 2
x, y = y, x
print(x, y)

2 1

튜플 인덱싱

In [87]:
a = ('a', " ", "")
print(a[0])
print(repr(a[1]))
print(repr(a[2]))
print()
print(repr(a[-1]))
print(repr(a[-2]))
print(repr(a[-3]))

a
' '
''

''
' '
'a'

In [88]:
# 튜플은 자료값 변경 불가
a = (1, 2, 3)
a[0] = 10

TypeError: 'tuple' object does not support item assignment

In [90]:
# 튜플은 자료값 변경 불가
a = (1, 2, 3)
del a[0]

TypeError: 'tuple' object doesn't support item deletion

튜플 슬라이싱

In [92]:
a = ('a','b','c','d','e')
print(a[1:3])
print(a[1:4])
print(a[0:6])
print(a[2:])

('b', 'c')
('b', 'c', 'd')
('a', 'b', 'c', 'd', 'e')
('c', 'd', 'e')

튜플 자료값 변경

In [94]:
a = (1, 2, 3)
a = (4,) + a[1:]
print(a)
b = ('a', 'b', 'c', 'd', 'e', 'f') 
b = b[:3] + ('D',) + b[4:] 
print(b)

(4, 2, 3)
('a', 'b', 'c', 'D', 'e', 'f')

In [95]:
(2 *(2 ) +(3 *(3 ) ) ) +(2 *(3 ) )

19