In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; } </style>"))

## Concat

In [5]:
data = [[1,2,3],[4,5,6]]
df = pd.DataFrame(data, index = [ 'x','y'], columns=['a','b','c'])
data2 = [[1,2,3],[4,5,6]]
df2 = pd.DataFrame(data2, index = [ 'x','y'], columns=['a','b','c'])

In [8]:
con = pd.concat([df,df2], axis=0)

In [9]:
con

   a  b  c
x  1  2  3
y  4  5  6
x  1  2  3
y  4  5  6

## Merge

In [60]:
data1 = { 'id' : [1, 2, 3, 4, 5], 'left' : ['a', 'b', 'c', 'd', 'e'] }
df1 = pd.DataFrame(data1)
data2 = { 'id' : [3, 4, 5, 6, 7], 'right' : ['q', 'w', 'e', 'r', 't'] } 
df2 = pd.DataFrame(data2)

In [47]:
df1

   id left
0   1    a
1   2    b
2   3    c
3   4    d
4   5    e

In [48]:
df2

   id right
0   3     q
1   4     w
2   5     e
3   6     r
4   7     t

In [49]:
mer = pd.merge(df1, df2, how='outer')
mer

   id left right
0   1    a   NaN
1   2    b   NaN
2   3    c     q
3   4    d     w
4   5    e     e
5   6  NaN     r
6   7  NaN     t

In [50]:
mer = pd.merge(df1, df2, how='inner')
mer

   id left right
0   3    c     q
1   4    d     w
2   5    e     e

In [55]:
df2 = df2.rename({'right':'left'},axis=1)
df2

   id left
0   3    q
1   4    w
2   5    e
3   6    r
4   7    t

In [65]:
pd.merge(df1, df2, left_on= 'left' , right_on= 'right')

   id_x left  id_y right
0     5    e     5     e

In [63]:
pd.merge(df1, df2, on = 'id')

   id left right
0   3    c     q
1   4    d     w
2   5    e     e

In [66]:
pd.merge(df1, df2, how = 'right')

   id left right
0   3    c     q
1   4    d     w
2   5    e     e
3   6  NaN     r
4   7  NaN     t

In [9]:
# 4를 모두 9로 바꾸기
data = [5,3,4,8,4,4,2,3]

In [10]:
data = list(map(lambda x: x+5 if x==4 else x,data))
data

[5, 3, 9, 8, 9, 9, 2, 3]

In [32]:
# index 범위 0~ 4까지만 4를 9로 바꿔라
data = [5,3,4,8,4,4,2,3]

In [34]:
data = list(map(lambda x: x[1]+5 if (x[0]<5 and x[1]==4) else x[1] ,enumerate(data)))
data

[5, 3, 9, 8, 9, 4, 2, 3]

In [14]:
# 3을 모두 7로 바꾸기
data2 = [[5,3,4,8,4,4,2,3],[5,3,4,8,4,4,2,3]]

In [15]:
apd = []
for i in [0,1]:
    apd.append(list(map(lambda x: x+4 if( x==3 and i==0) else x, data2[i])))
data2 = apd.copy()
data2

[[5, 7, 4, 8, 4, 4, 2, 7], [5, 3, 4, 8, 4, 4, 2, 3]]